
<div class="footer-row">
    <hr />    
    <p class="footer-contact-text"><a href="#">contact@public-comics.com</a> | <a href="#">twitter.com/public-comics</a></p>
    <p><img alt="" class="footer-icon" src="~/Images/icon.png" /> Public Comics icon made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> Licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
</div>