html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
  background-image: url("../Images/black-noise-texture.png"); }

html,
body,
ul,
ol {
  margin: 0;
  padding: 1px; }

body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
  background-image: url("../Images/black-noise-texture.png"); }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
  background-image: url("../Images/black-noise-texture.png"); }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
  background-image: url("../Images/black-noise-texture.png"); }

