@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/">Public Comics</a>

<form role="search">
    <div>
        <input type="text" placeholder="Search by title, issue, or tag">
    </div>
</form>

<a href="#">Admin</a>