@import 'bourbon/_bourbon.scss';
@import 'neat/_neat.scss';

$bootswatch_blue: #2a9fd6;
$bootswatch_gray: #424242;
$slick_dot_font_size: 30px;

.navbar-row {
    @include span-columns(12);
    margin: 25px 0 0 0;

    .navbar-icon-col {
        @include span-columns(2 of 12);
    }

    .navbar-search-col {
        @include span-columns(10 of 12);
    }

    .navbar-icon {
        width: 100%;
        margin: 0 0 0 0;
    }

    .navbar-search-col {
        margin: 40px 0 0 0;
    }

    .navbar-header-text {
        font-family: 'GIRegular'; 
        font-size: 32px;
        margin: 0 0 12px 0;
    }

    .navbar-search-bar {
        width: 100%;
    }
}

.carousel-row {
    @include span-columns(12);

    .slick-dots li button:before {
        color: whitesmoke;
    }

    .slick-dots li.slick-active button:before {
        color: $bootswatch_blue;
    }
}

.comic-card-row {
    @include span-columns(12);
    margin: 0 0 0 0;
    padding: 15px 30px 15px 15px;

    .comic-cover-col {
        @include span-columns(3 of 12);

        .comic-cover {
            width: 95%
        }
    }

    .comic-info-col {
        @include span-columns(9 of 12);

        .issue-name-and-number {
            font-family: 'GIRegular';
            margin: 0 0 0 0;
        }

        .issue-upload-date {
            margin: 5px 0 0 0;
        }

        .issue-tags {
            margin: 10px 0 16px 0;
        }

        .issue-metrics-links {
            margin: 0 0 10px 0;

            .issue-pages-link {
                float: left;
                margin: 0 0 0 0;
            }

            .issue-comments-link {
                margin: 0 0 0 0;
            }
        }

        .issue-badge {
            margin: 0 10px 0 5px;
            background-color: $bootswatch_gray;
        }

        .issue-preview-pages {
            margin: 16px 0 0 0;
        }

        .issue-preview-page {
            width: 13%;
        }

        .slick-next {
            right: 10px;
            top: -20px;
        }

        .slick-prev {
            left: 612px;
            top: -20px;
        }
    }
}